<!-- <section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center"> About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

      <p>Welcome to Techedify! We are a team of tech enthusiasts and professionals who are passionate about sharing our knowledge and insights with fellow tech enthusiasts. Our mission is to provide quality content that will help you stay informed, engaged, and up-to-date with the latest tech trends and programming languages.</p>
      <p>At Techedify, our content is curated and created by our experienced and knowledgeable admin. They carefully craft each post to provide valuable information, useful tips, and practical advice for developers, tech enthusiasts, and anyone who wants to learn more about the world of technology.</p>
      <p>If you have any questions, comments, or suggestions, please don't hesitate to reach out to us. You can contact us directly via email at <a href="">techedify@gmail.com</a></p>
      <p>Thank you for choosing Techedify as your go-to source for all things tech. We look forward to connecting with you!</p>

      <div class="text-center">
        <button class="btn btn-primary btn-sm mt-4 btn-theme">Back to home</button>
      </div>
    </div>
  </div>
</section> -->
<section class="mt-5">
  <div class="container my-5 py-5">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-theme-primary mb-4">About Techedify</h1>
        <p class="mb-4">Techedify is a blog website created for tech enthusiasts who are looking for the latest updates on programming languages and other technical trends. We have a team of experienced professionals who are passionate about sharing their knowledge and insights with others.</p>
        <p class="mb-4">At Techedify, we believe that everyone has the potential to become a great programmer. Our aim is to provide quality content that will help you stay informed, engaged, and up-to-date with the latest tech trends and programming languages. Our content is curated and created by our experienced and knowledgeable admin.</p>
        <p>If you have any questions, comments, or suggestions, please don't hesitate to reach out to us. You can contact us directly via email at <a href="mailto:techedify@gmail.com" class="text-theme-primary">techedify@gmail.com</a></p>
      </div>
      <div class="col-md-6">
        <img  src="../../../assets/Untitled ‑ Made with FlexClip.gif" class="img-fluid rounded img" alt="about us image">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary btn-lg mt-4 btn-theme" routerLink="/">Back to Home</button>
      </div>
    </div>
  </div>
</section>


