<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">Terms & Condition</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

      <p>Welcome to Techedify! By using our website, you agree to our terms and conditions. The content on this website is for informational purposes only and we make no guarantees or warranties about its accuracy, completeness, or suitability for any particular purpose.</p>
      <p>We reserve the right to modify or update these terms and conditions at any time without prior notice. By using our website, you agree to the current version of our terms and conditions. If you have any questions, please don't hesitate to contact us at techedify@gmail.com. Thank you for choosing Techedify as your go-to source for all things tech!</p>


      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme" routerLink="/">Back to home</button>
      </div>
    </div>
  </div>
</section>
